.commit-info {
    width: auto;
    border-radius: 3px;
    margin: 7px 7px 0px 7px;
    padding: 7px;
    background-color: var(--ui-background-accent-color);
}

.commit-message {
    height: 40px;
}
.commit-message span {
    font-size: 12pt;
}

.author-section {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.author-section .commit-avatar {
    border-radius: 5px;
}
.author-section .author-info {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.author-section .author-info span {
    height: auto;
}

.additional-info {
    display: flex;
    margin-top: 10px;
}
.additional-info .octicon {
    margin-right: 5px;
    color: var(--ui-font-color);
}
.additional-info .commit-hash-section {
    margin-left: 20px;
}
