.RepoListDropDown {
    width: 200px;
    height: 100%;
    background-color: var(--ui-bg-color);
}

.RepoListButton {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--ui-bg-color);
}

.RepoListButton:hover {
    background-color: var(--ui-button-hover-color);
}

.RepoListButton span {
    font-size: 13pt;
    color: var(--ui-font-color);
    width: 100%;
}
