.app {
    height: 100%;
    width: 100%;
    position: fixed;
}

.app-content {
    margin-top: 20px;
    width: 100%;
    height: calc(100% - 20px);
    position: fixed;
}

.repository-view {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
