.app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.app-content {
    width: 100%;
    height: calc(100% - 20px);
}

.repository-view {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
