.list {
    position: relative;
    width: auto;

    margin-top: 20px;
}

.heading {
    display: flex;
    user-select: none;
}

.heading-title {
    display: flex;
    align-items: center;
    flex: 2 0 0;
    color: var(--ui-font-color);
    font-size: 11pt;
    height: 20px;
}

.heading-title .octicon {
    margin-right: 5px;
}

.right-heading {
    display: flex;
    align-items: center;
    color: var(--ui-font-color);
    font-size: 11pt;
}

.right-heading .octicon {
    margin-left: 10px;
}

.list-content {
    min-height: 130px;
    transition: min-height 0.5s;
}

.list-content-collapsed {
    min-height: 0;
    height: 0;
    transition: min-height 0.5s;
}
