.sidebar-list-item {
    width: 100%;
    height: 25px;
}
.sidebar-list-item span {
    height: 25px;
    font-size: 11pt;
}
.sidebar-list-item :hover {
    background: var(--ui-button-hover-color);
}

.sidebar-list-button {
    padding-left: 35px;
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--ui-font-color);
    line-height: 25px;
}

.sidebar-list-button .octicon {
    margin-left: -17px;
    margin-right: 5px;
}
