.list {
    position: relative;
    width: auto;

    margin-top: 20px;
}

.heading {
    display: flex;
    user-select: none;
    margin-left: 10px;
    margin-right: 10px;
}

.heading-title {
    display: flex;
    align-items: center;
    flex: 2 0 0;
    color: var(--ui-font-color);
    font-size: 11pt;
    height: 20px;
}

.heading-title .octicon {
    margin-right: 5px;
}

.right-heading {
    display: flex;
    align-items: center;
    color: var(--ui-font-color);
    font-size: 11pt;
}

.right-heading .octicon {
    margin-left: 10px;
}

.list-content {
    padding-top: 5px;
    max-height: 140px;
    overflow: auto;
    transition: 0.25s;
}

.list-content-collapsed {
    padding-top: 5px;
    max-height: 0;
    overflow: hidden;
    transition: 0.25s;
}
